* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}
h2, h4{
  display: block;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 10px;
  width: 100%;
}
button{
  padding: 6px 8px;
  border: none;
  border-radius: 12px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
  font-weight: bold;
  background-color: hwb(0 86% 13%);
  transition: opacity .25s;
}
button:hover{
  background-color: rgb(168, 167, 167)
}
button:active{
opacity: 0.8;
background-color: rgb(233, 211, 211)
}
div{
  display: inline-block;
}
table{
  box-shadow: 0px 2px 8px rgba(0,0,0,0.65);
  border: 1px solid black;
}
td{
  border: 2px solid black;
}
.container{
  width: 98vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  

}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

/* App.css */

/* Style for the table */
.table {
  border-collapse: collapse;
  margin: 20px;
}

/* Style for table header */
.table th {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

/* Style for table rows */
.table tr {
  border: 1px solid #ccc;
}

/* Style for table cells */
.table td {
  border: 1px solid #ccc;
  padding: 10px;
}
